@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

body {

    min-height: 100vh;
    color: black;
    background-image: url(paysage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.bloc {

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: max-content;
    padding: 7px;
    border-radius: 8px;
    position: absolute;
    color: white;

}

.prefer {

    display: flex;
    align-items: center;
    width: 335px;
    height: max-content;
    flex-wrap: wrap;
    gap: 8px;
    top: 20px;
    left: 20px;
    text-align: center;

}

.test {

    width: 74px;
    height: 74px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    font-size: 3.6em;

}

.imgPrefer {

    width: 74px;
    height: 74px;
    padding: 7px;

}

.time {

    display: flex;
    top: 20px;
    right: 20px;

}

.timeTxt {

    font-size: 4em;

}

.production {

    bottom: 20px;
    left: 20px;

}

.productionTxt {

    color: white;
    text-decoration: none;
    font-size: 0.8em;

}